:root { /* define variables for use throughout sheet */
    --primary: #222525;
    --secondary: #FFFAFB;
    --tertiary: #7DE2D1;
    --nav-hover: #353a39;
    --border-header: #858786;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body { /* set base styling properties for all elements under <body> */
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: var(--primary);
    color: var(--secondary);
}

h1 { /* set styling for h1 */
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h1::after { /* adds the word Cray after Oliver in h1 with the secondary colour */
    content: "Cray";
    margin-left: 10px;
    color: var(--secondary);
}

h2 { /* set styling for h2 */
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    margin: 10px 0 10px 15px;
    padding-right: 7px;
    border-right: 3px solid var(--border-header);
}

p {
    margin-left: 15px;
}


.main-header { /* set background to --primary and text colour to --tertiary */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
    background: var(--primary);
    color: var(--tertiary);
    z-index: 1;
}

nav {
    display: flex;
    justify-content: flex-end;

}

nav a {
    color: var(--tertiary);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: var(--nav-hover);
}

main { /* applies to every element that is a child of main */
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

.about {
    display: flex;
}

.about > p {
    display: flex;
    align-items: center;
}

.contact > ul li {
    display: inline;
    margin-left: 15px;
}

.contact > ul li a {
    text-decoration: none;
    color: var(--tertiary);
}

.contact > ul li a:hover {
    color: var(--secondary);
}

.mywork {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

section {
    display: flex;
}

.mywork section {
    margin: 5px;
    position: relative;
    border: 5px solid var(--tertiary);
}

.mywork h2 {
    align-content: start;
}

.main-image {
    width: 100%;
}

.secondary-image {
    width: 49%;
}

img {
    flex: 1 0 auto;
    width: 50%;
    height: auto;
    opacity: 0.4;
    transition: 0.5s;
}

img:hover {
    opacity: 1;
}

.card-title {
    z-index: 1;
    font-size: 2em;
    position: absolute;
    bottom: 45%;
    background-color: var(--tertiary);   
    color: var(--primary);
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0 10px 85px;
    padding-right: 7px;
}

@media screen and (max-width: 992px) {
    main,
    nav {
      flex-direction: column;
    }
  }

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }