:root { /* define variables for use throughout sheet */
    --primary: #222525;
    --secondary: #FFFAFB;
    --tertiary: #7DE2D1;
    --nav-hover: #353a39;
    --border-header: #858786;
    --nav-header: #272b2a;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    scroll-padding-top: 8%;
}

body { /* set base styling properties for all elements under <body> */
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: var(--primary);
    color: var(--secondary);
}

h1 { /* set styling for h1 */
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-image {
    max-width: 30%;
    opacity: 1;
}

h1::after { /* adds the word Cray after Oliver in h1 with the secondary colour */
    content: "Cray";
    margin-left: 10px;
    color: var(--secondary);
}

h2 { /* set styling for h2 */
    display: flex;
    flex-wrap: wrap;
    float: left;
    font-size: 2rem;
    margin: 0.5% 0 0.5% 1%;
    padding-right: 0.5%;
    border-right: 3px solid var(--border-header);
    width: 20%;
}

.main-header { /* set background to --primary and text colour to --tertiary */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
    background: var(--primary);
    color: var(--tertiary);
}

nav {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    font-size: 2rem;
    width: 100%;
    top: 0px;
    z-index: 2;
    background: var(--nav-header);
}

nav a {
    color: var(--tertiary);
    padding: 1% 1.5%;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: var(--nav-hover);
}

main { /* applies to every element that is a child of main */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 2rem auto;
}

article {
    padding: 1%
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 73%;
}

.about > p {
    display: flex;
    align-items: center;
}

.about-text {
    padding: 0.8%;
}

.mywork {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    float: right;
    width: 73%;
}

section {
    display: flex;
}

.mywork section {
    margin: 0.5%;
    position: relative;
    border: 5px solid var(--tertiary);
}

.mywork h2 {
    align-content: start;
}

.main-image {
    width: 100%;
}

.secondary-image {
    width: 49%;
}

img {
    flex: 1 0 auto;
    width: 50%;
    height: auto;
    opacity: 0.4;
    transition: 0.5s;
}

img:hover {
    opacity: 1;
}

.card-title {
    z-index: 1;
    font-size: 2em;
    position: absolute;
    margin-top: 50%;
    background-color: var(--tertiary);   
    color: var(--primary);
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2% 0 2% 1%;
    padding-right: 7%;
}   

.contact > ul li {
    display: inline;
    margin-left: 10px;
}

.contact > ul li a {
    text-decoration: none;
    color: var(--tertiary);
}

.contact > ul li a:hover {
    color: var(--secondary);
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }